.root {
    -fx-background-color: #ffffff;
}

.cancel {
    -fx-background-color: #ed796f;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.confirm {
    -fx-background-color: #70bcb7;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}