.title {
    -fx-text-fill: #353c47;
    -fx-font-size: 24px;
}

.default-color0.chart-pie {
    -fx-pie-color: #2069f6;
}

.default-color1.chart-pie {
    -fx-pie-color: #ff4c4c;
}

.default-color2.chart-pie {
    -fx-pie-color: #00e500;
}