.modal {
    -fx-background-color: #f1f4f7;
}

.close {
    -fx-background-color: transparent;
    -fx-font-size: 20px;
    -fx-text-fill: #4d5665;
}

.title {
    -fx-text-fill: #353c47;
    -fx-font-size: 24px;
}

.confirm {
    -fx-background-color: #70AAF8;
    -fx-text-fill: #ffffff;
}

.text-field:error {
    -fx-text-box-border: red;
    -fx-focus-color: red;
}